*{
    
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    transition: all 0.3s;
}

.containerimg{
    background-color:white;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: .3rem;

}

.containerimg .image{
    width: 350px;
    height: 250px;
    overflow: hidden;
    border: 8px solid white;
    margin-top: 20px;
    box-shadow: 0 .1rem .4rem gray;
}

.containerimg .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.containerimg .image img:hover{
   transform: scale(1.5);
    
}